/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

.main{
    padding-top: 0;
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle{
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container{
    max-width: 1180px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*========== Button Dark/Light ==========*/
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}

// Self base boilerplate
#breadcrumbs {
    background-color: #e9ecef;
}

.alert{
    display: block;
    padding: 10px 15px;
    font-size: 1rem;

    button{
        padding: .2rem;
        text-transform: uppercase;
    }
}

.alert-success{
    background-color: rgb(20, 145, 20);
    color: #ffffff;
}

.alert-danger{
    background-color: rgb(145, 20, 20);
    color: #ffffff;
}

.alert.header-message {
    border-radius: 0 !important;
}

// Fiit
$p: hsl(213deg 85% 97%);
$s: hsl(233deg 36% 38%);
* { font-family: 'Poppins' }
@mixin screen {
	background: $p;
	padding: 2em;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	box-shadow: 0 0 2em hsl(231deg 62% 94%);
}

.login-card {
    background-color: var(--first-color) !important;
    color: #000;

    .button {
        background-color: var(--body-color);

        &:hover {
            color: var(--body-color);
        }
    }
}

$p: var(--first-color);
$s: var(--body-color);
* { font-family: 'Poppins' }
@mixin screen {
	background: $p;
	padding: 2em;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	box-shadow: 0 0 2em #000;
}
.screen-1 {
    @include screen;
    gap: 2em;


    .logo {
        align-self: center;
        margin: 1rem auto 2rem;
        width: 150px;
        height: auto;
    }
    .email {
        background: hsl(0deg 0% 100%);
        box-shadow: 0 0 2em hsl(231deg 62% 94%);
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        border-radius: 20px;
        color: hsl(0deg 0% 30%);
        margin-top: -3em;
        input {
            outline: none;
            border: none;
            &::placeholder {
                color: hsl(0deg 0% 0%);
                font-size: 0.9em;
            }
        }
        ion-icon {
            color: hsl(0deg 0% 30%);
            margin-bottom: -.2em;
        }
    }
    .password {
        background: hsl(0deg 0% 100%);
        box-shadow: 0 0 2em hsl(231deg 62% 94%);
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        border-radius: 20px;
        color: hsl(0deg 0% 30%);
        input {
            outline: none;
            border: none;
            &::placeholder {
                color: hsl(0deg 0% 0%);
                font-size: 0.9em;
            }
        }
        ion-icon {
            color: hsl(0deg 0% 30%);
            margin-bottom: -.2em;
        }
        .show-hide {
            margin-right: -5em;
        }
    }
    .login {
        padding: 1em;
        background: $s;
        color: hsl(0 0 100);
        border: none;
        border-radius: 30px;
        font-weight: 600;
    }
    .footer {
        display: flex;
        font-size: 0.7em;
        color: hsl(0deg 0% 37%);
        gap: 14em;
        padding-bottom: 10em;
        span { cursor: pointer }
    }
    button { cursor: pointer; }
}


